name: Release to GitHub NPM Registry

on:
  release:
    types: [published]

permissions:
  contents: write
  id-token: write
  packages: write
  
jobs:
  publish:
    name: Publish to GitHub NPM Registry
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0
          submodules: true

      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: package.json
          registry-url: https://npm.pkg.github.com
          package-manager-cache: false

      - name: Install dependencies
        run: npm ci

      - name: Publish package
        env:
          NODE_AUTH_TOKEN: ${{github.token}}
        run: npm publish
